doctype html
html
	head
		title= title
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(meta http-equiv="X-UA-Compatible" content="IE=edge")
		//link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		// Bootstrap CSS CDN
		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous")
		// Font Awesome JS
		script(defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous")
		script(defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous")

		//script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
		//script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
		link(rel='stylesheet', href='/stylesheets/style.css')

	body
		div(class='wrapper')
			nav(id='sidebar')
				div(class='sidebar-header')
					h3 Stock Analysis
				form(method='GET' action='/stocks/getStock')
					div.form-group(id='searchbar')
						label(for="search-input") Add Stock:
						input#search.form-control(type='text', placeholder='Search Stock', aria-label='Search', name='search' autocomplete='off')
						ul(class='list-group' id='search-results')
						
						
					div.form-group()
						label(for='stocks') Stocks:
						ul(class='list-group' id='added-stocks')
						


					div.form-group
						label(for='timeseries') Time Series:
						select#timeseries.form-control(type='select', placeholder='Select Time Series', name='timeseries' required='true')
							option(value="" selected) Select a Timeseries
							each val, key in timeSeries
								option(value=key) #{val}
						script.
							var timeseries = document.querySelector('#timeseries');
							timeseries.onchange = function(){
								var interval = document.getElementById('intervals');
								if(timeseries.value == 'TIME_SERIES_INTRADAY') {
									interval.style.display = 'block';
								} else {
									interval.style.display = 'none';
								}
							};

					div.form-group(id='intervals' style="display:none")
						label(for='interval') Time Interval:
						select#timeIntervals.form-control(type='select' name='timeInterval')
							option(value='' selected) Select a Time Interval
							each val, key in timeIntervals
								option(value=key) #{val}
						

					button.btn.btn-primary(type='submit') Submit
				
			div(id='content')
				nav(class='navbar navbar-expand-lg navbar-light bg-light')
					div(class='container-fluid')

						button(type='button' id='sidebarCollapse' class='btn btn-info')
							i(class='fas fa-align-left')
							span Toggle Sidebar
		block content



		// JQuery CDN - Slim version(without AJAX)
		script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
		// Popper.JS
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous")
		// Bootstrap.JS
		script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous")
		// Script to collapse sidebar
		script(src='../javascripts/sidebar_collapse.js')
		// Script for search bar
		script(src='../javascripts/searchbar.js')
		// Axios
		script(src='https://unpkg.com/axios/dist/axios.min.js')
